.react-multi-carousel-list {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative
}

.react-multi-carousel-track {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform, transition
}

.react-multiple-carousel__arrow {
    position: absolute;
    outline: 0;
    transition: all .5s;
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background: rgba(0, 0, 0, 0.5);
    min-width: 43px;
    min-height: 43px;
    opacity: 1;
    cursor: pointer
}

.react-multiple-carousel__arrow:hover {
    background: rgba(0, 0, 0, 0.8)
}

.react-multiple-carousel__arrow::before {
    font-size: 20px;
    color: #fff;
    display: block;
    font-family: revicons;
    text-align: center;
    z-index: 2;
    position: relative
}

.react-multiple-carousel__arrow--left {
    left: calc(4% + 1px)
}

.react-multiple-carousel__arrow--left::before {
    content: "\e824"
}

.react-multiple-carousel__arrow--right {
    right: calc(4% + 1px)
}

.react-multiple-carousel__arrow--right::before {
    content: "\e825"
}

.react-multi-carousel-dot-list {
    position: absolute;
    bottom: 0;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    margin: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

.react-multi-carousel-dot button {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 1;
    padding: 5px 5px 5px 5px;
    box-shadow: none;
    transition: background .5s;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    padding: 0;
    margin: 0;
    margin-right: 6px;
    outline: 0;
    cursor: pointer
}

.react-multi-carousel-dot button:hover:active {
    background: #080808
}

.react-multi-carousel-dot--active button {
    background: #080808
}

.react-multi-carousel-item {
    transform-style: preserve-3d;
    backface-visibility: hidden
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .react-multi-carousel-item {
        flex-shrink: 0 !important
    }

    .react-multi-carousel-track {
        overflow: visible !important
    }
}

.react-multi-carousel-item {
    border-radius: 5px;
    overflow: hidden;
    padding: 0 15px 10px 0
}

.react-multiple-carousel__arrow {
    z-index: 2 !important;
    outline: none;
    min-width: 40px !important;
    min-height: 40px !important;
    opacity: 0 !important
}

.react-multi-carousel-list {
    width: calc(100% + 14px)
}

.react-multi-carousel-list:hover .react-multiple-carousel__arrow {
    opacity: 1 !important
}

.react-multiple-carousel__arrow--right::before,
.react-multiple-carousel__arrow::before {
    content: '' !important
}

.react-multiple-carousel__arrow--right {
    right: 8px !important;
    background: #f2f6fd url("https://im1.dineout.co.in/images/uploads/misc/2020/Jan/9/carousel-right-arrow.png") no-repeat 10px 50% !important;
    background-size: 50% !important
}

.react-multiple-carousel__arrow--right:hover {
    background: #f2f6fd url("https://im1.dineout.co.in/images/uploads/misc/2020/Jan/9/carousel-right-arrow.png") no-repeat 15px 50% !important;
    background-size: 50% !important
}

.react-multiple-carousel__arrow--left {
    left: -3px !important;
    background: #f2f6fd url("https://im1.dineout.co.in/images/uploads/misc/2020/Jan/9/carousel-left-arrow.png") no-repeat 10px 50% !important;
    background-size: 50% !important
}

.react-multiple-carousel__arrow--left:hover {
    background: #f2f6fd url("https://im1.dineout.co.in/images/uploads/misc/2020/Jan/9/carousel-left-arrow.png") no-repeat 7px 50% !important;
    background-size: 50% !important
}

.no-padding,
.noPadding {
    padding: 0px
}

.dp_member_carousel .react-multiple-carousel__arrow--right {
    margin-right: 2rem
}

.dp_member_carousel .react-multiple-carousel__arrow--left {
    margin-left: 2rem
}

.react-multi-carousel-track.small_slider {
    transform: none !important
}