.container {
  width: 100%;
  width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* header start */
.header {
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.headerMain {
  display: flex;
  align-items: center;
}

.locationSec {
  border-radius: 4px;
  align-items: center;
  border: 0.5px solid #bcbcbc;
  padding: 0.4rem 1rem;
  margin: 0 0 0 3rem;
  width: 210px;
  position: relative;
  color: #666;
  flex-shrink: 0;
  display: flex;
}

.locationSec .locationIcon {
  flex-shrink: 0;
  width: 20px;
  margin-top: 0.2rem;
}

.locationSec .cityName {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
}

.navLinks {
  margin: 0 10rem;
  width: 100%;
}

.navLinks ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.navLinks ul li {
  line-height: 30px;
  position: relative;
}

.navLinks ul li a {
  padding: 2rem 0;
  color: #333;
  display: block;
}

.navLinks ul li a:hover {
  color: #FF645A;
  font-weight: bold;
}

.navLinks ul li a:hover::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 50%;
  right: 0;
  background: #FF645A;
  height: 4px;
  transform: translate(-50%, -50%);
}

.loginBtn {
  padding: 0.35rem 3.5rem !important;
}

/* header start */

/* footer start */
.sectionHeader {
  color: #FF645A;
  font-size: 1.61rem;
}

.sectionHeader::after {
  content: "";
  display: block;
  width: 25px;
  padding: 1rem 0 0 0;
  border-bottom: 2px solid #FF645A;
}

.LocationListF li {
  padding: 0.8rem 0 0 0;
}

.LocationListF li a {
  color: #666;
}

.footerLogoSec {
  color: #666;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerLogoSec div {
  text-align: center;
  padding: 0 0 0.8rem;
  display: flex;
  align-items: center;
}

.writeUs {
  font-size: 1.4rem;
}

.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons li{
  margin: 0 0.5rem 1rem 0;
}
/* footer start */